body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

/* GENERAL ELEMENTS - Start */
body > * {
  padding: 40px 200px;
}

.signup {
  background-color: #3882F6;
  border: none;
  padding: 6px 24px;
  border-radius: 8px;
  color: #F9FAF8;
  font-weight: 900;
}

.logo {
  text-decoration: none;
  color: #F9FAF8;
  font-weight: 900;
  font-size: 24px;
}
/* GENERAL ELEMENTS - End */


/* HEADER - Start */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 16px 200px; /*overriding global padding; reducing vertical padding*/
}

.header-link-container {
  display: flex;
  gap: 16px;
  font-size: 18px;
  font-weight: 100;
  color: #E5E7EB
}
/* HEADER - End */


/* HERO - Start */
.hero {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #1F2937;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  align-items: flex-start;
}

.hero-content h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  margin: 0px;
}

.hero-content p {
  color: #E5E7EB;
}

.hero img {
  background-color: #909090;
  padding: 0px;
}
/* HERO - End */


/* ICON WALL - Start */
.icon-wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.icon-wall h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
}

.icon-container {
  display: flex;
  gap: 24px;
}

.icon-text-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.icon-placeholder {
  border: 3px solid #3882F6;
  border-radius: 12px;
  height: 160px;
  width: 160px;
}
/* ICON WALL - End */


/* QUOTE WALL - Start */
.quote-wall {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
}

.inspiring-quote {
  align-self: flex-start;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.quote-author {
  align-self: flex-end;
  font-size: 16px;
  font-weight: 600;
}
/* QUOTE WALL - End */


/* ACTION WALL - Start */
.action-wall {
  display: flex;
  justify-content: center;
}

.action-box {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  background-color: #3882F6;
  width: 100vw;
  border-radius: 4px;
  padding: 24px 96px;
}

.action-box .signup {
  align-self: center;
  border: 2px solid #F9FAF8;
}

.action-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.action-text-container h4 {
  color: #F9FAF8;
  font-size: 20px;
  margin: 0px;
}

.action-text-container p {
  color: #E5E7EB;
  font-size: 14px;
  font-weight: 100;
  margin: 0px;
}